body{
    text-align: center;
}
#board{
    background-color: black;
}
.overlay {
    width: 100%;
    height: 100vh;
    background: url("1980.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }